#app {
  margin-top: 0;
}

.header {
  width: 100%;
  position: fixed;
  height: 60px;
  background: #1f8a46 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  top: 0;
  left: 0;
  font-weight: bold;
  z-index: 1112;
  padding: 0 20px !important;
  font-size: 16px;
  line-height: 60px;
  .user{
    color: #fff;
  }
  .logout{
    color: #fff;
  }
}

.header i {
  margin-right: 5px;
}

.header .logo {
  height: 60px;
  font-size: 22px;
  color: #fff;
  text-align: left;
  background: url("../../../../assets/images/logo.png") left center no-repeat;
  padding-left: 60px;
  width: 50%;
  .title {
    font-size: 22px;
    line-height: 30px;
    height: 30px;
    color: #fff;
    padding-top: 6px;
  }
  .fbt {
    color: #ffffff;
    font-size: 16px;
    height: 20px;
    margin-top: 5px;
    line-height: 20px;
  }

}

.notification {
  text-align: center;
  height: 200px;
}

.ivu-menu-horizontal.ivu-menu-light:after {
  display: none;
}

.sider {
  position: fixed;
  height: 100%;
  left: 0;
  overflow: auto;
  z-index: 1;
  text-align: left;
}

.sider-hide .ivu-menu-item span {
  display: none;

}

.content {
  margin-left: 240px;
  margin-top: 0px;
  transition: all .2s ease-in-out;
}

.content-expand {
  margin-left: 64px;
}

.ivu-breadcrumb {
  text-align: left;
}
.fr{float: right;}
.mr20{margin-right: 20px;}
.fl{float: left;}
